.main_space {
  display: flex;
  flex: 1;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background-color: #173257;
}
.logo_section {
  display: flex;
  background-color: #438bef00;
  flex: 0.2;
  padding: 1%;
  padding-top: 2%;

  justify-content: center;
}
.auth_section {
  display: flex;
  background-color: #434cef00;
  flex: 0.6;
  padding: 1%;
  justify-content: center;
}
.box_part2_section2 {
  display: flex;
  flex: 0.1;
  height: 100%;
  padding-left: 14px;
  flex-direction: row;
  background-color: #00ddff00;
}
.check_text {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: auto;
  font-size: 1rem;
  font-family: "Open Sans";
  font-weight: 700;
  font-style: "SemiBold";
  color: rgb(92, 92, 92);
}
.auth_box {
  display: flex;
  flex-direction: column;

  background-color: #ffffff;
  width: 20%;
  height: 100%;
  border-radius: 20px;
}

.box_part1 {
  display: flex;
  flex: 0.2;
  flex-direction: column;
}
.box_part2 {
  display: flex;
  flex: 0.8;
  height: 100%;
  flex-direction: column;
}
.box_part2_section1 {
  display: flex;
  flex: 0.3;
  height: 100%;
  flex-direction: column;
  background-color: #ff000000;
}
.box_part2_section2 {
  display: flex;
  flex: 0.1;
  height: 100%;
  padding-left: 14px;
  flex-direction: row;
  background-color: #00ddff00;
}
.box_part2_section3 {
  display: flex;
  flex: 0.2;
  height: 100%;

  background-color: #4dff0000;
}

.title_text {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  font-family: "Open Sans";
  font-weight: 700;
  font-style: "SemiBold";
  color: rgb(61, 61, 61);
}
.base_text {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 14px;
  margin-right: 14px;
  font-size: 1rem;
  font-family: "Open Sans";
  font-weight: 700;
  font-style: "SemiBold";
  color: rgb(61, 61, 61);
}
.input_style {
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2%;
  border-radius: 10px;
  width: 90%;

  background-color: #8abbffa9;
  font-size: 1rem;
  font-family: "Open Sans";
  font-weight: 700;
  font-style: "SemiBold";
  color: rgb(61, 61, 61);
}
.button_submit {
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

  border-radius: 10px;
  width: 60%;

  background-color: #8abbffa9;
  font-size: 1rem;
  font-family: "Open Sans";
  font-weight: 700;
  font-style: "SemiBold";
  color: rgb(61, 61, 61);
}

.button_submit:hover {
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

  border-radius: 10px;
  width: 60%;

  background-color: #539bffa9;

  font-size: 1rem;
  font-family: "Open Sans";
  font-weight: 700;
  font-style: "SemiBold";
  color: rgb(61, 61, 61);
}

.part_sections {
  width: 80%;
  height: 2px;
  margin-top: 40px;
  margin-bottom: 1%;
  margin-left: auto;
  margin-right: auto;

  background: #8f8f8f;
}

.check_text {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: auto;
  font-size: 1rem;
  font-family: "Open Sans";
  font-weight: 700;
  font-style: "SemiBold";
  color: rgb(92, 92, 92);
}

.small_text {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  font-family: "Open Sans";
  font-weight: 700;
  font-style: "SemiBold";
  color: rgb(92, 92, 92);
  text-decoration: underline;
}
